---
extends: 'default'

rules:
  truthy:
    allowed-values:
      - 'true'
      - 'false'

  quoted-strings:
    required: true
    quote-type: 'any'

  trailing-spaces: 'enable'

  comments:
    require-starting-space: true
    min-spaces-from-content: 1

  comments-indentation: 'disable'

  indentation:
    spaces: 2
    indent-sequences: true

  braces:
    max-spaces-inside: 1

  octal-values:
    forbid-implicit-octal: true
    forbid-explicit-octal: true

  line-length:
    max: 500
