[Interface]
Address = {{ podman_wireguard_ip }}/24
PrivateKey = {{ vault_wireguard_private_keys[inventory_hostname] }}

[Peer]
PublicKey = {{ vault_wireguard_public_keys[haproxy_host] }}
PresharedKey = {{ vault_wireguard_preshared_keys[inventory_hostname] }}
Endpoint = {{ hostvars[haproxy_host].ansible_host | default(haproxy_host) }}:51820
AllowedIPs = 10.66.66.1/32
PersistentKeepalive = 25
