[Unit]
Description=SeedVault WebDAV backups

[Container]
ContainerName=seedvault
Image=seedvault.build

Network=haproxy-seedvault.network:ip6=fd89:110::2
NetworkAlias=seedvault

Volume=seedvault-config:/config:ro,U,Z,noexec
Volume=/data/seedvault:/data:U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=32M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Memory=256m
PidsLimit=128
PodmanArgs=--cpus=1
User=300018
Group=300018

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
