---
db:
  host: 'ente-postgres'
  port: 5432
  name: 'ente_db'
  user: 'ente'
  password: "{{ lookup('vars', 'vault_podman_secret_ente_postgres_password') }}"
  sslmode: 'disable'

s3:
  are_local_buckets: false
  use_path_style_urls: true
  b2-eu-cen:
    key: "{{ ente_garage_s3_key_id }}"
    secret: "{{ ente_garage_s3_secret_key }}"
    endpoint: 'https://s3.ente.napiany.com'
    region: 'eu-central-2'
    bucket: 'b2-eu-cen'
  wasabi-eu-central-2-v3:
    key: "{{ ente_garage_s3_key_id }}"
    secret: "{{ ente_garage_s3_secret_key }}"
    endpoint: 'https://s3.ente.napiany.com'
    region: 'eu-central-2'
    bucket: 'wasabi-eu-central-2-v3'
    compliance: false
  scw-eu-fr-v3:
    key: "{{ ente_garage_s3_key_id }}"
    secret: "{{ ente_garage_s3_secret_key }}"
    endpoint: 'https://s3.ente.napiany.com'
    region: 'eu-central-2'
    bucket: 'scw-eu-fr-v3'

apps:
  public-albums: 'https://albums.ente.napiany.com'
  embed-albums: 'https://embed.ente.napiany.com'
  public-locker: 'https://share.ente.napiany.com'
  accounts: 'https://accounts.ente.napiany.com'
  cast: 'https://cast.ente.napiany.com'

key:
  encryption: "{{ lookup('vars', 'vault_podman_secret_ente_key_encryption') }}"
  hash: "{{ lookup('vars', 'vault_podman_secret_ente_key_hash') }}"

jwt:
  secret: "{{ lookup('vars', 'vault_podman_secret_ente_jwt_secret') }}"

webauthn:
  rpid: 'accounts.ente.napiany.com'
  rporigins:
    - 'https://accounts.ente.napiany.com'

internal:
  trusted-client-ip-header: 'X-Real-IP'
  admins:
    - '{{ ente_admin_user_id }}'
