[Unit]
Description=Ente Garage S3 storage

[Container]
ContainerName=ente-garage
Image=docker.io/dxflrs/garage:v2.2.0@sha256:45a61ce3f7c9c24fc23d9ed2b09b27ed560ab87b34605d175d5c588f539c24e4

Network=haproxy-ente.network:ip6=fd89:109::3
Network=ente-backend.network
NetworkAlias=ente-garage

Volume=ente-garage-config:/config:ro,U,Z,noexec
Volume=ente-garage-meta:/var/lib/garage/meta:U,Z,noexec
Volume=/data/garage:/var/lib/garage/data:Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Exec=/garage -c /config/garage.toml server

Memory=1g
PidsLimit=256
PodmanArgs=--cpus=2
User=300017
Group=300017

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
