[Unit]
Description=Ente Museum
After=ente-postgres.service
After=ente-garage.service
Wants=ente-postgres.service
Wants=ente-garage.service

[Container]
ContainerName=ente-museum
Image=ghcr.io/ente-io/server:927c6a316f181c7901446311f0085593b346b336@sha256:4367349f3dd6b95eb6f05620fe8dd17f09845b3a913bec5e273caa9f950e4f9c
AutoUpdate=registry

Network=haproxy-ente.network:ip6=fd89:109::2
Network=ente-backend.network
NetworkAlias=ente-museum
AddHost=s3.ente.napiany.com:fd89:109::1

Volume=ente-config:/config:ro,U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=256M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Environment=ENTE_CREDENTIALS_FILE=/config/credentials.yaml

Memory=1g
PidsLimit=256
PodmanArgs=--cpus=2
User=300015
Group=300015

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
