[Unit]
Description=Ente Web

[Container]
ContainerName=ente-web
Image=ente-web.build

Network=haproxy-ente.network:ip6=fd89:109::4
NetworkAlias=ente-web


Environment=ENTE_API_ORIGIN=https://api.ente.napiany.com
Environment=ENTE_ALBUMS_ORIGIN=https://albums.ente.napiany.com
Environment=ENTE_PHOTOS_ORIGIN=https://web.ente.napiany.com

Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/cache/nginx
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/lib/nginx
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp
Mount=type=tmpfs,tmpfs-size=1M,tmpfs-mode=0777,U,noexec,nosuid,nodev,destination=/run

Memory=256m
PidsLimit=256
PodmanArgs=--cpus=1
User=300022
Group=300022

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
