[Unit]
Description=Ente Web

[Container]
ContainerName=ente-web
Image=ghcr.io/ente-io/web:697792888239c4dc5e6cb12956fddfc990222c15@sha256:8e2613273bbe28716d38e1a1f23cac18c1e3be5eecf3c9319370d1de2da30ea8
AutoUpdate=registry

Network=nginx-ente.network
NetworkAlias=ente-web

Environment=ENTE_API_ORIGIN=https://api.ente.napiany.com
Environment=ENTE_ALBUMS_ORIGIN=https://albums.ente.napiany.com
Environment=ENTE_PHOTOS_ORIGIN=https://ente.napiany.com

Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/cache/nginx
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/lib/nginx
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp
Mount=type=tmpfs,tmpfs-size=1M,tmpfs-mode=0777,U,noexec,nosuid,nodev,destination=/run

Memory=256m
PidsLimit=256
PodmanArgs=--cpus=1
GlobalArgs=--runtime /usr/local/bin/runsc
SecurityLabelDisable=true
NoNewPrivileges=true
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
