[Unit]
Description=Ente Museum
After=ente-postgres.service
After=ente-garage.service
Wants=ente-postgres.service
Wants=ente-garage.service

[Container]
ContainerName=ente-museum
Image=ghcr.io/ente-io/server:latest
AutoUpdate=registry

Network=nginx-ente.network
Network=ente-backend.network
NetworkAlias=ente-museum

Volume=ente-config:/config:ro,Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=256M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Environment=ENTE_CREDENTIALS_FILE=/config/credentials.yaml

User=300015
Group=300015

GlobalArgs=--runtime /usr/local/bin/runsc
SecurityLabelDisable=true
NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
