[Unit]
Description=CrowdSec security engine
Requires=wg-quick@wg0.service
After=wg-quick@wg0.service

[Container]
ContainerName=crowdsec
Image=docker.io/crowdsecurity/crowdsec:v1.7.7@sha256:6ca53ad26196ca59ddd4fa692a586b73d8fcde085046163b9ca2f04887dca563
AutoUpdate=registry
Network=haproxy-crowdsec.network:ip6={{ podman_crowdsec_ipv6 }}
Network=crowdsec-egress.network
{% if 'monitoring' in (podman_containers_selected | default([])) %}
Network=crowdsec-monitoring.network
{% endif %}
NetworkAlias=crowdsec

Volume=crowdsec-config:/etc/crowdsec:U,z,noexec
Volume=crowdsec-data:/var/lib/crowdsec/data:U,z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Environment=TZ=UTC
Environment="COLLECTIONS={{ crowdsec_collections | join(' ') }}"
Environment=LOCAL_API_URL=http://[::]:8080
PublishPort={{ podman_wireguard_ip }}:8080:8080/tcp
PublishPort=[{{ crowdsec_wireguard_ipv6 }}]:8080:8080/tcp

Memory=512m
PidsLimit=256
PodmanArgs=--cpus=1
User=300020
Group=300020

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=cscli lapi status
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
