ENABLED=true
API_URL={{ crowdsec_lapi_url }}/
API_KEY={{ lookup('vars', 'vault_crowdsec_nginx_bouncer_key') }}
MODE=stream
CACHE_EXPIRATION=1
UPDATE_FREQUENCY=10
REQUEST_TIMEOUT=3000
{% if crowdsec_appsec_enabled | default(false) | bool %}
APPSEC_URL=http://crowdsec:{{ crowdsec_appsec_listen_port_effective }}
APPSEC_FAILURE_ACTION={{ crowdsec_appsec_failure_action_effective }}
ALWAYS_SEND_TO_APPSEC={{ 'true' if crowdsec_appsec_always_send_effective else 'false' }}
{% endif %}
