[Unit]
Description=CrowdSec HAProxy SPOA bouncer
Requires=crowdsec.service
After=crowdsec.service

[Container]
ContainerName=crowdsec-spoa
Image=docker.io/crowdsecurity/spoa-bouncer:v0.3.0@sha256:6bdc237067936978d45b3ead90cf211255dad1f3156366aa39703a54a6d2db5d
AutoUpdate=registry

Network=haproxy-crowdsec.network:ip=10.89.106.3,ip6=fd89:106::3
NetworkAlias=crowdsec-spoa
Volume=crowdsec-spoa-config:/etc/crowdsec/bouncers:ro,U,z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=4M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/run/crowdsec-spoa
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/log/crowdsec-spoa
Secret=crowdsec_spoa_bouncer_key,type=env,target=API_KEY
Exec=-c /etc/crowdsec/bouncers/crowdsec-spoa-bouncer.yaml

Memory=128m
PidsLimit=128
PodmanArgs=--cpus=1
User=300021
Group=300021

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
