[Unit]
Description=CrowdSec security engine
Wants=wg-quick@wg0.service
After=wg-quick@wg0.service

[Container]
ContainerName=crowdsec
Image=docker.io/crowdsecurity/crowdsec:v1.7.6
AutoUpdate=registry

Network=haproxy-crowdsec.network
NetworkAlias=crowdsec
Volume=crowdsec-config:/etc/crowdsec:z
Volume=crowdsec-data:/var/lib/crowdsec/data:z

Environment=TZ=UTC
Environment=LOCAL_API_URL=http://0.0.0.0:8080
Environment=DISABLE_AGENT=true
PublishPort=10.66.66.1:8080:8080/tcp

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
