[Unit]
Description=certbot ACME cert renewal

[Container]
ContainerName=certbot
Image={{ podman_certbot_image }}

Volume=certbot:/etc/letsencrypt:z,noexec
Volume=certbot-config:/hooks:ro,z
Volume=certbot-webroot:/var/www/certbot:z,noexec
Volume=haproxy-config:/haproxy-config:Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=32M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp
Mount=type=tmpfs,tmpfs-size=128M,tmpfs-mode=0755,U,noexec,nosuid,nodev,destination=/var/lib/letsencrypt
Mount=type=tmpfs,tmpfs-size=64M,tmpfs-mode=0755,U,noexec,nosuid,nodev,destination=/var/log/letsencrypt

Exec=renew --webroot --webroot-path /var/www/certbot --non-interactive --deploy-hook /hooks/certbot-deploy-hook.sh

Memory=256m
PidsLimit=128
PodmanArgs=--cpus=1
User=0
Group=0

DropCapability=ALL
AddCapability=CHOWN
AddCapability=DAC_OVERRIDE
AddCapability=FOWNER
NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s
Type=oneshot
RemainAfterExit=no
ExecStartPost=-/usr/bin/podman kill --signal HUP haproxy
ExecStartPost=-/usr/bin/podman kill --signal HUP kanidm
ExecStartPost=-/usr/bin/systemctl restart stalwart.service

[Install]
WantedBy=default.target
