[Unit]
Description=Alertmanager

[Container]
ContainerName=alertmanager
Image={{ podman_alertmanager_image }}
AutoUpdate=registry

Network=alertmanager-egress.network
Network=monitoring-backend.network
Network=haproxy-alertmanager.network:ip6={{ podman_haproxy_networks.alertmanager.ipv6 }}
NetworkAlias=alertmanager

Volume=alertmanager-config:/etc/alertmanager:ro,U,Z,noexec
Volume=alertmanager-data:/alertmanager:U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=64M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Exec=--config.file=/etc/alertmanager/alertmanager.yml --storage.path=/alertmanager --web.external-url=https://alertmanager.napiany.com --cluster.listen-address=

Memory=256m
PidsLimit=128
PodmanArgs=--cpus=0.5
User=300024
Group=300024

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
