[Unit]
Description=MollySocket

[Container]
ContainerName=mollysocket
Image=ghcr.io/mollyim/mollysocket:1.7.1-alpine
AutoUpdate=registry

Network=haproxy-mollysocket.network:ip=10.89.105.2,ip6=fd89:105::2
Network=haproxy-crowdsec.network:no_default_route=1
NetworkAlias=mollysocket
AddHost=updates.push.napiany.com:fd89:106::4

Volume=mollysocket:/data:U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=1777,noexec,nosuid,nodev,destination=/tmp

Secret=mollysocket_vapid_privkey,type=env,target=MOLLY_VAPID_PRIVKEY
Secret=mollysocket_allowed_uuids,type=env,target=MOLLY_ALLOWED_UUIDS

Environment=MOLLY_CONF=/data/config.toml
Environment=RUST_LOG=info

Exec=server

Memory=128m
PidsLimit=128
PodmanArgs=--cpus=1
User=300009
Group=300009

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
