[containers]
label = false

[engine]
# `runsc` is the default runtime. Quadlets can opt out with `GlobalArgs=--runtime=crun`.
runtime = "runsc"

[engine.runtimes]
crun = ["/usr/bin/crun", "/bin/crun"]
runc = ["/sbin/runc"]
runsc = ["/usr/local/bin/runsc"]

[engine.runtimes_flags]
runsc = [
  "platform=kvm",
  "dcache={{ podman_gvisor_dcache_size }}"
]
