[Unit]
Description=Vaultwarden
After=vaultwarden-postgres.service
Wants=vaultwarden-postgres.service

[Container]
ContainerName=vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:1.35.4-alpine@sha256:34b4e91ed4c2a4d2191245325608b2a84bedbeb9c9dd561e3c0924b98ef7126c
AutoUpdate=registry

Network=nginx-vaultwarden.network:ip=10.89.101.2
Network=vaultwarden-postgres.network
NetworkAlias=vaultwarden

Volume=vaultwarden:/data:Z,noexec
ReadOnly=true

Secret=vaultwarden-postgres_dburl,type=env,target=DATABASE_URL

Environment=WEBSOCKET_ENABLED=true

Environment=PUSH_ENABLED=true
Secret=vaultwarden_installationid,type=env,target=PUSH_INSTALLATION_ID
Secret=vaultwarden_installationkey,type=env,target=PUSH_INSTALLATION_KEY

Environment=DOMAIN=https://vault.napiany.com
Environment=SENDS_ALLOWED=true
Environment=TRASH_AUTO_DELETE_DAYS=30
Environment=DISABLE_ICON_DOWNLOAD=false
Environment=SIGNUPS_ALLOWED=false
Environment=SIGNUPS_VERIFY=true
Environment=ORG_EVENTS_ENABLED=true
Environment=INVITATIONS_ALLOWED=false
Environment=INVITATION_ORG_NAME=Napiany Vaultwarden
Environment=EMERGENCY_ACCESS_ALLOWED=true
Environment=EMAIL_CHANGE_ALLOWED=true
Environment=PASSWORD_HINTS_ALLOWED=false
Environment=SHOW_PASSWORD_HINT=false

Environment=IP_HEADER=X-Real-IP
Environment=ICON_SERVICE=internal
Environment=HTTP_REQUEST_BLOCK_NON_GLOBAL_IPS=true
Environment=REQUIRE_DEVICE_EMAIL=true
Secret=vaultwarden_admintoken,type=env,target=ADMIN_TOKEN
Environment=DISABLE_ADMIN_TOKEN=false
Environment=ENFORCE_SINGLE_ORG_WITH_RESET_PW_POLICY=true

Environment=SSO_ENABLED=true
Environment=SSO_ONLY=true
Environment=SSO_SIGNUPS_MATCH_EMAIL=true
Environment=SSO_ALLOW_UNKNOWN_EMAIL_VERIFICATION=false
Environment=SSO_AUTHORITY=https://idm.napiany.com/oauth2/openid/vaultwarden
Environment=SSO_SCOPES=openid profile email offline_access
Environment=SSO_PKCE=true
Environment=SSO_CLIENT_ID=vaultwarden
Secret=vaultwarden_ssoclientpassword,type=env,target=SSO_CLIENT_SECRET
Environment=SSO_DEBUG_TOKENS=false

#Environment=SMTP_HOST=mail.napiany.com
#Environment=SMTP_FROM=vault@napiany.com
#Environment=SMTP_FROM_NAME=Napiany Vaultwarden
#Environment=SMTP_USERNAME=vault@napiany.com
#Secret=vaultwarden_smtppassword,type=env,target=SMTP_PASSWORD
#Environment=SMTP_SECURITY=force_tls
#Environment=SMTP_PORT=465
#Environment=USE_SENDMAIL=false
#Environment=SMTP_AUTH_MECHANISM=["Plain"]
#Environment=SMTP_DEBUG=false
#Environment=SMTP_ACCEPT_INVALID_CERTS=false
#Environment=SMTP_ACCEPT_INVALID_HOSTNAMES=false

Environment=ROCKET_PORT=8080

Environment=_ENABLE_YUBICO=false
Environment=_ENABLE_DUO=false
Environment=_ENABLE_EMAIL_2FA=false

Memory=512m
PidsLimit=256
PodmanArgs=--cpus=1
User=300003
Group=300003

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target