[Unit]
Description=Vaultwarden PostgreSQL

[Container]
ContainerName=vaultwarden-postgres
Image=docker.io/postgres/postgres:18-alpine
AutoUpdate=registry

Network=vaultwarden-postgres.network
NetworkAlias=vaultwarden-postgres

Volume=vaultwarden-postgres:/var/lib/postgresql/18/docker:Z
#Volume=vaultwarden-postgres_dump:/dump:Z
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/run/postgresql

Environment=POSTGRES_USER=vaultwarden
Secret=vaultwarden-postgres_password,type=env,target=POSTGRES_PASSWORD

User=300004
Group=300004

GlobalArgs=--runtime /usr/local/bin/runsc
SecurityLabelDisable=true
NoNewPrivileges=true
DropCapability=ALL

HealthCmd=pg_isready -U vaultwarden
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete

Restart=always

[Install]
WantedBy=vaultwarden.target