[Unit]
Description=nginx reverse proxy

[Container]
ContainerName=nginx
Image=nginx.build
GlobalArgs=--runtime={{ podman_host_oci_runtime_name }}
Network=host

Volume=nginx-conf:/etc/nginx/conf.d:ro,Z,noexec
Volume=nginx-snippets:/etc/nginx/snippets:ro,Z,noexec
Volume=nginx-webroot:/srv/nginx:ro,z,noexec
Volume=nginx-logs:/var/log/nginx:z,noexec
Volume=nginx-session-keys:/etc/nginx/session-ticket-keys:ro,Z,noexec
Volume=certbot:/etc/letsencrypt:ro,z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=0770,U,noexec,nosuid,nodev,destination=/var/cache/nginx
Mount=type=tmpfs,tmpfs-size=50M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp
Mount=type=tmpfs,tmpfs-size=1M,tmpfs-mode=0777,U,noexec,nosuid,nodev,destination=/run


Memory=512m
PidsLimit=512
PodmanArgs=--cpus=2
User=300001
Group=300001

NoNewPrivileges=true
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID
AddCapability=NET_BIND_SERVICE

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
