[Unit]
Description=certbot ACME cert renewal

[Container]
ContainerName=certbot
Image=certbot.build

Volume=certbot:/etc/letsencrypt:z
Volume=nginx-webroot:/srv/nginx:z
Volume=certbot-config:/usr/local/bin:ro,z

Exec=renew --non-interactive --deploy-hook /usr/local/bin/certbot-deploy-hook.sh

DropCapability=ALL
NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s
Type=oneshot
RemainAfterExit=no
ExecStartPost=-/usr/bin/podman kill --signal HUP nginx
ExecStartPost=-/usr/bin/podman kill --signal HUP kanidm
ExecStartPost=-/usr/bin/systemctl restart stalwart.service

[Install]
WantedBy=nginx.target
