{% set vaultwarden_config = {
  'database_url': vault_podman_secret_vaultwarden_postgres_dburl,
  'enable_websocket': true,
  'push_enabled': true,
  'push_installation_id': vault_podman_secret_vaultwarden_installationid,
  'push_installation_key': vault_podman_secret_vaultwarden_installationkey,
  'domain': 'https://vault.napiany.com',
  'sends_allowed': true,
  'trash_auto_delete_days': 30,
  'disable_icon_download': false,
  'signups_allowed': false,
  'signups_verify': true,
  'org_events_enabled': true,
  'invitations_allowed': false,
  'invitation_org_name': 'Napiany Vaultwarden',
  'emergency_access_allowed': true,
  'email_change_allowed': true,
  'password_hints_allowed': true,
  'show_password_hint': true,
  'admin_token': vault_podman_secret_vaultwarden_admintoken,
  'ip_header': 'X-Real-IP',
  'icon_service': 'internal',
  'http_request_block_non_global_ips': true,
  'require_device_email': true,
  'disable_admin_token': false,
  'enforce_single_org_with_reset_pw_policy': true,
  'sso_enabled': true,
  'sso_only': true,
  'sso_signups_match_email': true,
  'sso_allow_unknown_email_verification': false,
  'sso_client_id': 'vaultwarden',
  'sso_client_secret': vault_podman_secret_vaultwarden_ssoclientpassword,
  'sso_authority': 'https://idm.napiany.com/oauth2/openid/vaultwarden',
  'sso_scopes': 'openid profile email offline_access',
  'sso_pkce': true,
  'sso_auth_only_not_session': true,
  'sso_debug_tokens': false,
  '_enable_yubico': false,
  '_enable_duo': false,
  '_enable_email_2fa': false
} %}
{{ vaultwarden_config | to_nice_json }}
