[Unit]
Description=Vaultwarden
After=vaultwarden-postgres.service
Wants=vaultwarden-postgres.service

[Container]
ContainerName=vaultwarden
Image=ghcr.io/dani-garcia/vaultwarden:1.35.7-alpine@sha256:9a54dad95452412afb959664dc5d6c3c3ca7c4131116ca7667888b0376320b03
AutoUpdate=registry

Network=vaultwarden-egress.network
Network=haproxy-vaultwarden.network:ip6=fd89:101::2
{% if 'kanidm' in (podman_containers_selected | default([])) %}
Network=kanidm-vaultwarden.network:ip=10.89.102.3,ip6=fd89:102::3
AddHost=idm.napiany.com:10.89.102.2
{% endif %}
Network=vaultwarden-postgres.network
NetworkAlias=vaultwarden

Volume=vaultwarden:/data:U,Z,noexec
ReadOnly=true

Environment=ROCKET_PORT=8080
Environment=ROCKET_ADDRESS=::

Memory=512m
PidsLimit=256
PodmanArgs=--cpus=1
User=300003
Group=300003

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
