[Unit]
Description=kanidm identity management

[Container]
ContainerName=kanidm
Image=docker.io/kanidm/server:1.9.2@sha256:b2600b42dd4a91bcea66eb067b74a180b9ffaff322c3785ea0b411d12c51c7b2
AutoUpdate=registry

Network=haproxy-kanidm.network:ip6=fd89:100::2
NetworkAlias=kanidm

Volume=kanidm:/data:U,Z,noexec
Volume=certbot:/etc/letsencrypt:ro,z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Memory=512m
PidsLimit=256
PodmanArgs=--cpus=1
User=300002
Group=300002

DropCapability=ALL
NoNewPrivileges=true

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
