[Unit]
Description=Grid Synapse
After=grid-postgres.service
Wants=grid-postgres.service

[Container]
ContainerName=grid
Image=ghcr.io/element-hq/synapse:v1.150.0@sha256:cba0969087ca70a3ec72ebcd1491a6c8391a7da2c0b92738231dd9c7ad55df4d
AutoUpdate=registry

Network=nginx-grid.network:ip=10.89.108.2
Network=grid-postgres.network
NetworkAlias=grid

Volume=grid:/data:Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=256M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Environment=SYNAPSE_CONFIG_PATH=/data/homeserver.yaml

Memory=2g
PidsLimit=512
PodmanArgs=--cpus=2
User=300013
Group=300013

NoNewPrivileges=true
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
