[Unit]
Description=Grid Synapse
After=grid-postgres.service
Wants=grid-postgres.service

[Container]
ContainerName=grid
Image=ghcr.io/element-hq/synapse:v1.151.0@sha256:184dc8757daef019b511e7f96fc6e5edfb880fd074d8cf702c7e3aa899d188c8
AutoUpdate=registry

Network=haproxy-grid.network:ip6=fd89:108::2
Network=grid-postgres.network
NetworkAlias=grid

Volume=grid:/data:U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=256M,tmpfs-mode=1777,U,noexec,nosuid,nodev,destination=/tmp

Environment=SYNAPSE_CONFIG_PATH=/data/homeserver.yaml

Memory=2g
PidsLimit=512
PodmanArgs=--cpus=2
User=300013
Group=300013

NoNewPrivileges=true
DropCapability=ALL
AddCapability=CHOWN
AddCapability=SETUID
AddCapability=SETGID

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
