[Unit]
Description=Autopush Valkey

[Container]
ContainerName=autopush-valkey
Image=docker.io/valkey/valkey:9.0.3-alpine@sha256:e1095c6c76ee982cb2d1e07edbb7fb2a53606630a1d810d5a47c9f646b708bf5
AutoUpdate=registry

Network=autopush-valkey.network
NetworkAlias=autopush-valkey

Volume=autopush-valkey:/data:U,Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=16M,tmpfs-mode=1777,noexec,nosuid,nodev,destination=/tmp

Exec=valkey-server --save 60 1000 --appendonly yes --dir /data

Memory=512m
PidsLimit=256
PodmanArgs=--cpus=1
User=300012
Group=300012

NoNewPrivileges=true
DropCapability=ALL

HealthCmd=valkey-cli ping
HealthInterval=15s
HealthTimeout=5s
Notify=healthy

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=always

[Install]
WantedBy=default.target
