[Unit]
Description=Autopush AutoConnect
After=autopush-valkey.service
Wants=autopush-valkey.service

[Container]
ContainerName=autoconnect
Image=autoconnect.build

Network=haproxy-autopush.network:ip=10.89.104.2
Network=autopush-egress.network
Network=autopush-valkey.network
NetworkAlias=autoconnect

ReadOnly=true
Mount=type=tmpfs,tmpfs-size=32M,tmpfs-mode=1777,noexec,nosuid,nodev,destination=/tmp

Secret=autopush_crypto_keys,type=env,target=AUTOCONNECT__CRYPTO_KEY

Environment=AUTOCONNECT__PORT=8080
Environment=AUTOCONNECT__ROUTER_PORT=8081
Environment=AUTOCONNECT__ROUTER_HOSTNAME=autoconnect
Environment=AUTOCONNECT__ENDPOINT_SCHEME=https
Environment=AUTOCONNECT__ENDPOINT_HOSTNAME=updates.push.napiany.com
Environment=AUTOCONNECT__ENDPOINT_PORT=443
Environment=AUTOCONNECT__DB_DSN=redis://autopush-valkey:6379/0
Environment=AUTOCONNECT__HUMAN_LOGS=true
Environment=RUST_LOG=info

Memory=256m
PidsLimit=256
PodmanArgs=--cpus=1
User=300010
Group=300010

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
