[Unit]
Description=Create initial HAProxy TLS ticket keys
ConditionPathExists=!{{ certbot_mountpoint }}/consumers/haproxy/session-ticket-keys/keys

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/haproxy-session-ticket-keys-create
