[Unit]
Description=Create initial HAProxy TLS ticket keys
ConditionPathExists=!{{ haproxy_config_mountpoint }}/session-ticket-keys/keys

[Service]
Type=oneshot
ExecStart=/usr/local/libexec/haproxy-session-ticket-keys-create
