#!/usr/bin/bash

set -o errexit -o nounset -o pipefail

cd '{{ haproxy_config_mountpoint }}/session-ticket-keys'

for i in next.key {1..4}.key; do
    /usr/bin/head -c 80 </dev/random | /usr/bin/openssl base64 -A > "${i}"
    printf '\n' >> "${i}"
done

cat next.key {1..4}.key > keys
/usr/bin/chown 300019:300019 next.key {1..4}.key keys
/usr/bin/chmod 0400 next.key {1..4}.key keys
