[Unit]
Description=ContainerCVE - Container Vulnerability Scanner

[Container]
ContainerName=containercve
Image=registry.gitlab.com/napiany/containercve:latest
AutoUpdate=registry

Network=nginx-containercve.network
NetworkAlias=containercve

Volume=containercve:/data:Z
Mount=type=tmpfs,tmpfs-size=4G,tmpfs-mode=1777,nosuid,nodev,destination=/tmp

Environment=PORT=8080
Environment=DATABASE_PATH=/data/scans.db
Environment=TRIVY_CACHE_DIR=/data/.cache/trivy
Environment=GRYPE_DB_CACHE_DIR=/data/.cache/grype

User=300005
Group=300005

GlobalArgs=--runtime /usr/local/bin/runsc
SecurityLabelDisable=true
NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
