[Unit]
Description=ContainerCVE - Container Vulnerability Scanner

[Container]
ContainerName=containercve
Image=registry.gitlab.com/napiany/containercve:latest
AutoUpdate=registry

Network=nginx-containercve.network
IP=10.89.102.2
NetworkAlias=containercve

Volume=containercve:/data:Z,noexec
ReadOnly=true
Mount=type=tmpfs,tmpfs-size=4G,tmpfs-mode=1777,noexec,nosuid,nodev,destination=/tmp

Environment=PORT=8080
Environment=DATABASE_PATH=/data/scans.db
Environment=TRIVY_CACHE_DIR=/data/.cache/trivy
Environment=GRYPE_DB_CACHE_DIR=/data/.cache/grype

Memory=4g
PidsLimit=256
PodmanArgs=--cpus=2
User=300005
Group=300005

NoNewPrivileges=true
DropCapability=ALL

[Service]
LockPersonality=true
ProtectClock=true
RestrictRealtime=true
RuntimeDirectoryMode=700
SystemCallArchitectures=native
SystemCallFilter=~@obsolete
Restart=on-failure
RestartSec=10s

[Install]
WantedBy=default.target
